.project-log {
  .project-log-title{
    line-height: 32px;
    margin-bottom: 15px;
  }

  .project-log-content {
    height: calc(100% - 47px);
    overflow-y: auto;
    .ant-input-affix-wrapper{
      border-radius: 15px;
    }
  }
}